{% extends 'base.html.twig' %}

{% block title %}SpaceReverie{% endblock %}

{% block body %}

    <section class="overflow-hidden">
        <div class="container pt-5 pb-sm-3 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
            <h1>Hello {{ controller_name }}! ✅</h1>
        </div>
    </section>

{% endblock %}
